{% extends "_base.html" %}
{% block content %}

<div class="form">
	<br>
	<h1>TiKT Booth</h1>
	<h6 class="form-text text-muted">Use the following form to generate a custom practice test.</h6>
	<br>
	<form action="{{ url_for('generate') }}" method="post" class="inline-form">
		{{ form.csrf_token }}
		<div class="form-group">
			{{ form.name.label }}
			{{ form.name }}
		</div>
		<div class="form-group">
			{{ form.author.label }}
			{{ form.author }}
		</div>
		<div class="form-group">
			{{ form.prob_num.label }}
			{{ form.prob_num }}
		</div>
		<div class="form-group">
			{{ form.min_diff.label }}
			{{ form.min_diff }}
		</div>
		<div class="form-group">
			{{ form.max_diff.label }}
			{{ form.max_diff }}
		</div>
		<div class="input-group">
 	  		<button type="submit" class="btn btn-dark">Submit</button>
 	     	</div>
	</form>
	<br>
	<p><a href={{ url_for('logout') }}>Click here to logout.</a></p>
</div>



{% endblock %}
