{% extends "_base.html" %}
{% block content %}

<br>

<h1>Test Info</h1>
<h5>Test Title: {{ test.title }}</h5>
<h5>Date Created: {{ test.date }}</h5>
<h5>Exam Type: {{ test.exam_type }}</h5>
<h5>Number of problems: {{ test.pnum }}</h5>

<hr>

{% for prob in probs %}
<h5>Problem {{probs.index(prob)+1}} <a href="{{url_for('favorite_problem',test_id=test.test_url, pid=prob.ID)}}"> <strong>{{hearts[probs.index(prob)]}}</strong></a></h5>
	<strong>Source: </strong>{{prob.title}}
	<br>
	<strong>ID: </strong>{{prob.ID}}
	<br>
	<strong>Subject: </strong>{{prob.subject}}
	<br>
	<strong>Difficulty: </strong>{{prob.diff}}
	<br>
	<strong>Link: </strong><a href={{prob.link.replace('\\','')}}>(link)</a>
	<hr>
{% endfor %}

{% endblock %}
