{% extends "_base.html" %}
{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
<!--
$(document).on("click", "button.fav", function() {
		$(this).html("♥");
		$(this).removeClass("fav");
		$(this).addClass("unfav");
		var test = this.id.split(" ")[0];
		var prob = this.id.split(" ")[1];
		$.ajax({
			url: "",
		      	type: "get",
		      	data: {test: test, prob: prob},
		      	success: function(response) {
			},
		      	error: function(xhr) {
				$(this).html("Oh noes.");
			}
		    });

	});

$(document).on("click", "button.unfav", function() {
		$(this).html("♡");
		$(this).removeClass("unfav");
		$(this).addClass("fav");
		var test = this.id.split(" ")[0];
		var prob = this.id.split(" ")[1];
		$.ajax({
			url: "",
		      	type: "get",
		      	data: {test: test, prob: prob},
		      	success: function(response) {
			},
		      	error: function(xhr) {
				$(this).html("Oh noes.");
			}
		    });

	});
-->

</script>

<style>
button {
  width:35px;
}
</style>

<br>

<h1>Test Info</h1>
<h5>Test Title: {{ test.title }}</h5>
<h5>Date Created: {{  test.date.strftime("%Y-%m-%d %H:%M") }}</h5>
<h5>Exam Type: {{ test.type }}</h5>
<h5>Number of problems: {{ test.size }}</h5>

<hr>

{% for prob in probs %}
{% if hearts[probs.index(prob)] == "nf" %}
<a href="{{url_for('favorite_problem', test_url = test.url, prob_id = prob.id)}}">Favorite</a>
{% else %}
<a href="{{url_for('unfavorite_problem', test_url = test.url, prob_id = prob.id)}}">Unfavorite</a>
{% endif %}

<h5>Problem {{probs.index(prob)+1}}</strong></a></h5>
	<strong>Source: </strong>{{prob.title}}
	<br>
	<strong>ID: </strong>{{prob.id}}
	<br>
	<strong>Subject: </strong>{{prob.subject}}
	<br>
	<strong>Difficulty: </strong>{{prob.diff}}
	<br>
	<strong>Link: </strong><a href={{prob.link.replace('\\','')}}>(link)</a>
	<hr>
{% endfor %}

{% endblock %}
