{% extends '_base.html' %}
{% block content %}

<br>

<h1>TiKTmaster</h1>
<h6 class="text-muted">A list of tests you've generated in the past.</h6>
	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th width="200px"><strong>Test Name</strong></th>
					<th width="150px"><strong>Date Created</strong></th>
					<th width="100px"><strong>Test ID</strong></th>
					<th width="100px"><strong>Test Type</strong></th>
					<th><strong>Links</strong></th>
				</tr>
			</thead>
			{% for test in tests %}
				<tr>
					<td width="200px">{{ test.title }}</td>
					<td width="100px">{{ test.date.strftime("%Y-%m-%d %H:%M") }}</td>
					<td width="100px">{{ test.url }}</td>
					<td width="100px">{{ test.type }}</td>
					<td>
						<a href="/static/tests/{{ test.url }}.pdf" target="_blank">(pdf)</a> <a href="/static/tests/{{ test.url}}.tex" target="_blank">(tex)</a> <a href="{{ url_for("view_test_info", test_id=test.url)}}">(info)</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	<br>
	<br>

	<h6 class="text-muted"> A list of problems you've favorited.</h6>
	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th width="200px"><strong>Source</strong></th>
					<th width="100px"><strong>ID</strong></th>
					<th width="100px"><strong>Subj</strong></th>
					<th width="100px"><strong>Diff</strong></th>
					<th><strong>Link (with solution)</strong></th>
				</tr>
			</thead>
			{% for prob in probs %}
				<tr>
					<td width="200px"><a href={{url_for('unfavorite_problem', test_url='UNIV', prob_id = prob.id)}}>♥</a> {{ prob.title }}</td>
					<td width="100px">{{ prob.id }}</td>
					<td width="100px">{{ prob.subject }}</td>
					<td width="100px">{{ prob.diff }}</td>
					<td>
						<a href={{ prob.link.replace('\\','') }} target="_blank">(link)</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}
